/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;

    /*linear-gradient is more in-tune w/ logo */
    /*
    background: linear-gradient(plum, mediumorchid);
    */

    background-color:rgb(20, 20, 20);

    /*text color*/
    color: #333;
}

/* Header & Navigation */
header {
    background: #333;
    color: #fff;
    padding: 30px 0;
    text-align: left;
    left: 20px;
}

.logo{
    position: absolute;
    top: 2px;
}



nav ul {
    list-style: none;
    padding: 0;

}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    left: 120px;

}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px;
    background-color: #c3c3c3;
    border-radius: 5px;
}

#home {
    background-color: #e9ecef;
    padding: 40px;
    text-align: center;
}

.slideshow-container{
    background-color: mediumorchid;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 5px;
}

.slides{
    background-color: plum;
    padding: 10px;
    border-radius: 5px;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        margin: 10px;
    }
}
